<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>819520844754-54u1b95tgg6ihf8k89mpj9b1r29co8mg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.819520844754-54u1b95tgg6ihf8k89mpj9b1r29co8mg</string>
	<key>API_KEY</key>
	<string>AIzaSyAmHZ6n7kde_qdZOxtu3V_45Tp8ca7vNDQ</string>
	<key>GCM_SENDER_ID</key>
	<string>819520844754</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mehmetakdeniz.ChatApp</string>
	<key>PROJECT_ID</key>
	<string>chatapp-9e01f</string>
	<key>STORAGE_BUCKET</key>
	<string>chatapp-9e01f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:819520844754:ios:0f840e71699c4013214e0b</string>
</dict>
</plist>